body {
  font-family: Arial;
  background-color: black;
  background-image: url('/images/nab-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin: 0 calc((100% - 900px) / 2) 0 calc((100% - 900px) / 2);
  display: block;
}

.app-title {
  color: white;
  font-size: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

.control-panel {
  display: flex;
  column-gap: 10px;
}

.app-description {
  background-color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  flex: 2;
}

.app-controls {
  background-color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  flex: 1;
}

.main-slider {
  appearance: none;
  width: 100px;
  height: 15px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  position: relative;
}

.volume-slider, .kick-drum-volume-slider {
  position: relative;
}

.main-volume-text, .kick-volume-text {
  position: absolute;
  font-size: 11px;
  font-weight: bold;
  opacity: 50%;
  align-content: center;
  z-index: 100;
  top: -6px;
  left: 66px;
  user-select: none;
}

.main-slider::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  background-color: white;
  z-index: 200;
}

.mute-button,
.main-buttons {
  font-size: 18px;
  font-weight: bold;
  border-style: none;
  border-radius: 3px;
  background-color: white;
}

.mute-button {
  background-color: lightgray;
  margin-bottom: 5px;
}

.mute-button:hover, 
.main-buttons:hover {
  background-color: gray;
}

#interfaces {
  font-size: 20px;
}

.app-utilities {
  background-color: white;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
  flex: 1;
}

.start-stop {
  text-align: center;
  font-size: 20px;
}

.info-panel {
  background-color: white;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50px;
  display: grid;
  grid-template-rows: 10% 90%;
  row-gap: 10px;
  height: 300px;
}

.button-numbers {
  padding-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.number {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.info-panel-grid {
  display: grid;
  grid-template-rows: 49% 2% 49%;
  row-gap: 5px;
  align-items: center;
  padding: 10px;
}

.press-info-container,
.press-hold-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.press-info-container div,
.press-hold-info-container div {
  flex: 1;
  text-align: center;
}

#info-divider {
  height: 0px;
  border: 2px solid gray;
  border-radius: 1px;
}

.buttons-panel {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
}

.button {
  cursor: pointer;
  opacity: 1;
  transition: 0.05s;
  border-style: none;
  border-radius: 50%;
  background-color: white;
}

.button:hover {
  background-color: grey;
}

.button:active {
  opacity: 0.5;
}

.button-image {
  width: 100%;
}

.shadow {
  box-shadow: 0px 5px 5px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}